@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html, body{
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.links{
    color: #007bff;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    background: #fff;
    color: black;
    transition: all 0.3s;
    border-right: 1px solid #ddd;

}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-links{
    margin:0px;
    padding: 0px;

    margin-top:12%;
}
#sidebar.active {
    margin-left: -250px;
}

.nav-links{
    display: flex;
    justify-content:center;
    background-color: #ffffff00;
    color: black;
    margin-bottom: 0 !important;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    color: #007bff !important;
    margin: 10px;
    font-size: 17.5px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #eee;
    border: 1px solid #ddd
}





a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #fff !important;
    color: black !important;
}

.nav-content {
    display: flex;
    padding:10px;
    border-bottom: 2px solid #ddd;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    padding-left: 25px;
    justify-content: space-around;
}
#toptitle{
    text-align: center;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.text-container{
    padding: 24px;
    text-align: justify;
    padding-right: 5%;
    padding-left: 5px;
}

.text-container a{
    font-weight: bold;
    color: #717171;
    text-decoration: underline;
}
.profile{
    display: block;
    justify-content: center;
    padding:8px;
    margin: 5%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 1px solid #ddd;
    border-radius: 15px;
}
.social-icon-container{
    margin-top: 40px;
}
.contact-link{
    margin-left:8px;
}
.avatar{
    border-radius: 50%;
    width: 60%;
    height: 60%;
    margin: 15px;
    margin-bottom: 25px;;
}
.social-icon{
    margin:10px;
    font-size: 21px;
    color: #007bff;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    HAMBURGER MENU
----------------------------------------------------- */

.bt-menu-trigger {
    font-size: 13px;
    position: relative;
      display: inline-block;
      width: 2em;
      height: 2em;
      cursor: pointer;
      top:5px;
  }
  
  .bt-menu-trigger span {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 0.2em;
      margin-top: -0.1em;
      background-color: #515151;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s;
  }
  
  
  .bt-menu-trigger span:after,
  .bt-menu-trigger span:before {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background: #515151;
      content: '';
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
  }
  
  .bt-menu-trigger span:before {
      -webkit-transform: translateY(-0.36em) translateX(-0.65em) rotate(-45deg) scaleX(0.6);
      transform: translateY(-0.35em) translateX(-0.65em) rotate(-45deg) scaleX(0.6);
  }
  
  .bt-menu-trigger span:after {
    -webkit-transform: translateY(0.36em) translateX(-0.65em) rotate(45deg) scaleX(0.6);
    transform: translateY(0.35em) translateX(-0.65em) rotate(45deg) scaleX(0.6);
  }
  
  .bt-menu-trigger.bt-menu-open span:before {
    -webkit-transform: translateY(-0.5em);
    transform: translateY(-0.5em);

  }
  
  .bt-menu-trigger.bt-menu-open span:after {
    -webkit-transform: translateY(0.5em);
    transform: translateY(0.5em);
    
  }
