---
layout: single
title: "Home"
modified: 2021-05-26
header:
  overlay_color: "#5e616c"
  overlay_image: Image_network.jpg
  # caption: "[Image credit: **NASA/ESA**](https://www.spacetelescope.org/images/heic0515a/)"
excerpt: 
author: PierBeneventano
author_profile: true
author_profile: true
---

{% include base_path %}


<font size="+1.5">
I am a PhD student at <a href="https://orfe.princeton.edu/home" class="links">Princeton University</a>, 
my interests lie in Machine Learning Theory and the mathematics to develop it.
<!-- I am fortunate to be working with <a href="https://hanin.princeton.edu/" class="links"></a>Prof. Boris Hanin.</a> and <a href="https://jasondlee88.github.io/" class="links"></a>Prof. Jason D. Lee.</a>. -->
<!-- , my university backgroung is numerical analysis and probability. -->
</font>





<hr>

<div class="col-lg-4 text-center">
  <div class="profile">
      <!-- <img src="./images/face_016.jpg" width="120" height="160" > -->
      <!-- <h2>Contacts</h2> -->
      <!-- <img height="20" width="20" src="./assets/icons/mail.svg" /> <a class="contact-link"href=""> pierb@princeton.edu</a>
      <img height="20" width="20" src="./assets/icons/graduation.svg" /> <a class="contact-link"href="https://scholar.google.com/citations?user=spL439oAAAAJ&hl=en"> Google Scholar</a>
      <img height="20" width="20" src="./assets/icons/user.svg" /> <a class="contact-link"href="https://pierbeneventano.github.io/CV/CV_Beneventano.pdf"> Curriculum vitae</a> -->
      <a href="https://www.linkedin.com/in/pierbeneventano/"><span class="social-icon fa fa-linkedin"></span></a> &nbsp  &nbsp  
      <a href="https://join.skype.com/invite/kobWyHxDkzse"><span  class="social-icon fa fa-skype"></span></a> &nbsp  &nbsp 
      <a href="https://www.instagram.com/prbn96/?hl=en"><span  class="social-icon fa fa-instagram"></span></a> &nbsp  &nbsp 
      <a href="https://github.com/PierBeneventano"><span  class="social-icon fa fa-github"></span></a> &nbsp  &nbsp 
      <a href="https://pierbeneventano.github.io/CV/CV_Beneventano.pdf" class="links"> CV </a> &nbsp  &nbsp 
      <a href="https://scholar.google.com/citations?user=spL439oAAAAJ&hl=en"><span class="ai ai-fw ai-google-scholar-square"></span></a> &nbsp  &nbsp 
      <a href="mailto:pierb@princeton.edu"><span class="social-icon fa fa-envelope"></span></a>
  </div>
</div>

<hr>

<font size="+1">Timeline:</font>

<li> <font size="-1"> <b>(15 Dec '21, 5pm UK)</b>
  I am chairing the event with <a href="https://binyu.stat.berkeley.edu/" class="links">Prof. Bin Yu</a>, organized within the
   <a href="https://www.ucl.ac.uk/bartlett/public-purpose/events/2021/oct/responsible-modelling-uncertain-times-ethics-quantification-action" class="links">
     CEST-UCL Seminar series on responsible modelling</a>. </font>
</li>

<li> <font size="-1"> <b>(3 Nov '21, 5pm UK)</b>
  I will be a panelist at the event with <a href="https://scholar.google.com/citations?user=mezKJyoAAAAJ&hl=en" class="links">Prof. Cynthia Rudin</a>, organized within the
   <a href="https://www.ucl.ac.uk/bartlett/public-purpose/events/2021/oct/responsible-modelling-uncertain-times-ethics-quantification-action" class="links">
     CEST-UCL Seminar series on responsible modelling</a>. </font>
</li>

<li> <font size="-1"> <b>(Oct '21 - Apr '22')</b> 
  With a group of friends at <a href="https://www.associazionecest.it/en" class="links">CEST</a> 
  I'm organizing series of seminars on "<i>Responsible modelling in uncertain times: ethics of quantification in action</i>" supported by <a href="https://ysi.ineteconomics.org/" class="links">INET</a>
  and hosted by <a href="https://www.ucl.ac.uk/bartlett/public-purpose/" class="links">UCL IIPP</a>. 
  Please <a href="https://www.ucl.ac.uk/bartlett/public-purpose/events/2021/oct/responsible-modelling-uncertain-times-ethics-quantification-action" class="links">
    check out the website</a>! </font>
</li>

<li> <font size="-1"> <b>(Sep '21)</b> 
  I'm the teaching assistant of <a href="https://registrar.princeton.edu/course-offerings/course-details?term=1222&courseid=012553" class="links"></a>Energy and Commodities Market</a> 
  taught by <a href="https://sircar.princeton.edu/" class="links"></a>Prof. Ronnie Sircar.</a> </font>
</li>

<li> <font size="-1"> <b>(Jul '21)</b> 
  I'm attending the <a href="https://deep-learning-summer-school.princeton.edu/" class="links"></a>Deep Learning Theory Summer School at Princeton</a> 
  organized by <a href="https://hanin.princeton.edu/" class="links"></a>Prof. Boris Hanin.</a> </font>
</li>

<li> <font size="-1"> <b>(Jun '21)</b> 
  With a group of friends at <a href="https://www.associazionecest.it/en" class="links">CEST</a> 
  I'm organizing a conference on "<i>Forecasting the future for sustainable development: New
  Approaches to Modelling and the Science of Prediction</i>" supported by <a href="https://ysi.ineteconomics.org/" class="links">INET</a>
  and hosted by <a href="https://www.oecd.org/" class="links">OECD</a>. 
  Please <a href="https://inetxoecd.associazionecest.it/" class="links">check out the website</a>! 
  <br>
  I will be chair for the session on <i>Explainable and Interpretable ML</i>" and I'm glad to announce that
  <a href="https://scholar.google.com/citations?user=mezKJyoAAAAJ&hl=en" class="links">Prof. Cynthia Rudin</a> will give us a keynote lecture on it. Moreover, <a href="https://www.ibm.com/artificial-intelligence/ethics" class="links">AI Ethics - IBM</a> will organize a workshop on XAI.
  We will have also many others amazing guests and interesting sessions, please check out! </font>
</li>
<hr>

<!--
With <a href="https://scholar.google.de/citations?user=fymm-XQAAAAJ&hl=en" class="links">CEST</a> 
we're also organizing a series of workshops on "<i>Responsible modelling</i>" supported by <a href="https://scholar.google.de/citations?user=fymm-XQAAAAJ&hl=en" class="links">INET</a>
and hosted by <a href="https://scholar.google.de/citations?user=fymm-XQAAAAJ&hl=en" class="links">UCL</a>. 
Please <a href="https://scholar.google.de/citations?user=fymm-XQAAAAJ&hl=en" class="links">check out the website</a>! 
<br> 
I will be chair for the session "<i>Mind the hubris</i>" and "<i>The double descent phenomenom</i>"; I'm glad to announce that our Keynote will be 
<a href="https://scholar.google.de/citations?user=fymm-XQAAAAJ&hl=en" class="links">Prof. Peter Bartlett</a>.
<br> 
We will have also many others amazing guests as <a href="https://scholar.google.de/citations?user=fymm-XQAAAAJ&hl=en" class="links">Andrea Saltelli</a>,
<a href="https://scholar.google.de/citations?user=fymm-XQAAAAJ&hl=en" class="links">Prof. Alan Kirman</a>,
<a href="https://scholar.google.de/citations?user=fymm-XQAAAAJ&hl=en" class="links">Prof. Adam Jaffe</a>, and many others.

<hr>

I am currently working on the following papers:
<ul>
  <il>One with <a href="https://scholar.google.de/citations?user=fymm-XQAAAAJ&hl=en" class="links">Boris Hanin</a>
  on theory of neural networks,</il>
  <il>One with <a href="https://scholar.google.de/citations?user=fymm-XQAAAAJ&hl=en" class="links">Arnulf Jentzen</a>
    again on the mathematics of neural networks</il>
  <il>One With <a href="https://scholar.google.de/citations?user=fymm-XQAAAAJ&hl=en" class="links">Saltelli, Portaluri, gli altri 2</a>
    on the limits and the epistemology of mathematical modeling, statistics, and machine learning.</il>
</ul>

<br>  <br>

Check out our last paper <a href="https://arxiv.org/abs/2012.04326" class="links">"High-dimensional approximation spaces of artificial neural networks and applications to partial differential equations"</a>.
We wrote it out of my semester project at <a href="https://math.ethz.ch/" class="links">ETH Zurich</a> supervised by 
<a href="https://scholar.google.de/citations?user=fymm-XQAAAAJ&hl=en" class="links">Prof. Arnulf Jentzen</a> and 
<a href="https://scholar.google.com/citations?user=Dc8yKjUAAAAJ&hl=en" class="links">Philippe von Wurstemberger</a>.


<hr>

For fun and in order to learn how to write and how to do things sometimes I write some blog posts, you find the latest here!
-->

<!-- <h2 class="archive__title">{{ site.data.ui-text[site.locale].recent_posts | default: "Latest Blog Posts" }}</h2>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}


<div>

</div> -->
